.Rproj.user
.Rhistory
.RData
.Ruserdata

 


# ignore r project
LUCC_ByOrder_paper.Rproj


# ignore output directories
Data/
1_CheckPrepareData/
2_RunSimpleLUIModel/
3_PrepareClimateIndexMaps/
4_PREDICTSMatchClimateIndex/
5_RunLUIClimateModels/
7_Predictions/
9_ModelChecks/
10_Additional_Tests/
11_Explore_primveg/

# unnecessary scripts
3_PrepareClimateIndexMaps_2018


 